{% extends "base.html" %}

{% block content %}

    <style>
        li {
            font-size: 1.5em;
        }

    </style>

    <div class="container">
        <ul>
            <li>{{ post.title }}</li>
            <li>{{ post.description }}</li>
            <li>{{ post.lat }}</li>
            <li>{{ post.long }}</li>
        </ul>




        <button>This is a dummy button, but download our app!</button>

        <img src="/media/{{ post.image }}" style="width: 100%;height: auto;">


    </div>



{% endblock content %}


